:root{
    --rich-black: #11151C;
    --prussian-blue: #212D40;
    --charcoal: #364156;
    --rose-taupe: #7D4E57;
    --jasper: #D66853;
    --opague-jasper: #d6695381;

}
html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-color: var(--prussian-blue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--rich-black);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: var(--jasper);
}
#add-character-dialog-button{
    cursor: pointer;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-character-dialog-button:hover{
    background-color: var(--charcoal);
}
#add-character-dialog-button h3{
    margin: 0 1em 0 1em;
}
dialog{
    background-color: var(--charcoal);
    color: var(--jasper);
    border: none;
    width: 50vw;
    padding: 2em;
    border-radius: 1em;
}
dialog header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
dialog header h1{
    display: block;
    grid-column: 2/3;
}
dialog header div{
    border-left: 1px solid black;
    cursor: pointer;
}
dialog header div:hover{
    background-color: var(--charcoal);
}
dialog input{
    background-color: var(--prussian-blue);
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em 0 0.5em 0;
    color: white;
}
.form-button{
    margin-top: 1em;
    text-align: center;
}
.form-button input{
    background-color: var(--rich-black);
    color: var(--jasper);
    line-height: 2em;
    width: 50%;
    cursor: pointer;
}
.form-button input:hover{
    background-color: var(--prussian-blue);
}
.character-grid{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
@media (min-width: 600px) {
    .character-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    dialog{
        width: 40vw;
    }
}
@media (min-width: 900px) {
    .character-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    dialog{
        width: 30vw;
    }
}
@media (min-width: 1200px) {
    .character-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    .character-grid{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    .character-grid{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    .character-grid{
        grid-template-columns: repeat(7, 1fr);
    }
}

#characters{
    margin-top: 6em;
}
.character-grid article{
    background-color: var(--charcoal);
    color: var(--jasper);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0px var(--opague-jasper);
}
.character-grid article:hover{
    box-shadow: 0 0 10px 5px var(--opague-jasper);
}
.character-grid article figure{
    height: 200px;
    overflow: hidden;
}
.character-grid article img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.character-grid article h2{
    text-shadow: 2px 2px 2px var(--rich-black);
}
.character-grid article div{
    text-align: center;
}
.character-grid article p{
    color: black;
}
.character-grid article button{
    background-color: var(--rich-black);
    color: var(--jasper);
    border-radius: 0.5em;
    cursor: pointer;
}
.character-grid article button:hover{
    background-color: var(--prussian-blue);
}
footer{
    text-align: center;
    background-color: var(--rich-black);
    color: var(--rose-taupe);
    font-size: 0.75em;
}
.hidden{
    display: none;
}
.value-error{
    color: red;
}